.slider {
  width: 100%;
  height: 100vh;
  background: linear-gradient(182deg, #ef7e3c 3.76%, #f5b048 60.76%, #f7c64d 85.52%);
}

.swiper-slide {
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.swiper-slide-prev {
  transform: rotate(-10deg) scale(0.7) !important;
}

.swiper-slide-next {
  transform: rotate(10deg) scale(0.7) !important;
}

.mySwiper {
  position: absolute !important;
  right: 0;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: calc(100% - 110px);
}

.swiper-wrapper {
  padding-left: 140px;
}
