.swiper-slide {
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}


.swiper-slide-prev {
  transform: rotate(-10deg) scale(0.7) !important;
}

.swiper-slide-next {
  transform: rotate(10deg) scale(0.7) !important;
}

.mySwiper {
  position: absolute !important;
  bottom: 20px;
  right: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 90px);
}


.swiper-wrapper {
  padding-left: 140px;
}
