.header {
  position: relative;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding-top: 20px;
}

.left {
  display: flex;
  gap: 14px;
  align-items: center;

  .heading {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    font-family: "PT Root UI VF", sans-serif;
    line-height: 32px; /* 100% */
  }
}

.links {
  display: flex;
  gap: 24px;
  align-items: center;

  a {
    color: rgb(255 255 255 / 50%);
    font-size: 14px;
    font-family: "PT Root UI VF", sans-serif;
  }

  .active {
    padding: 12px;
    background: rgb(255 255 255 / 10%);
    border-radius: 22px;
    backdrop-filter: blur(4px);
  }
}

.btn {
  height: 40px;
  padding: 12px 16px;
  background: #fff;
  border-radius: 21px;
}
