@font-face {
  font-weight: normal;
  font-family: "PT Root UI Regular";
  font-style: normal;
  src: url("./PT-Root-UI_Regular.ttf") format("ttf");
}

@font-face {
  font-weight: normal;
  font-family: "PT Root UI VF";
  font-style: normal;
  src: url("./PT-Root-UI_VF.ttf") format("ttf");
}
